.add_icon {
    background-image: url(images/add.png) !important;
    background-repeat: no-repeat;
}
.delete_icon {
    background-image: url(images/delete.png) !important;
    background-repeat: no-repeat;
}
.repeat_icon {
    background-image: url(images/repeat-icon.png) !important;
    background-repeat: no-repeat;
} 
.pc_menu_icon {
    background-image: url(images/pc_menu.png) !important;
    background-repeat: no-repeat;
}
.kafeterya_menu_icon {
    background-image: url(images/kafe_menu2.png) !important;
    background-repeat: no-repeat;
}
.kafe_menu_ekle_icon{
    background-image: url(images/kafe_menu.png) !important;
    background-repeat: no-repeat;
}
.kafe_menu_liste_icon{
    background-image: url(images/kafe_menu_list.png) !important;
    background-repeat: no-repeat;
}
.adisyon_menu_icon {
    background-image: url(images/adisyon.png) !important;
    background-repeat: no-repeat;
}
.musteri_menu_icon {
    background-image: url(images/musteri_menu.png) !important;
    background-repeat: no-repeat;
}
.musteri_ekle_icon {
    background-image: url(images/musteri_ekle.png) !important;
    background-repeat: no-repeat;
}
.musteri_liste_icon {
    background-image: url(images/musteri_list.png) !important;
    background-repeat: no-repeat;
}
.musteri_etkin_icon {
    background-image: url(images/musteri_etkin.png) !important;
    background-repeat: no-repeat;
}
.kasiyer_menu_icon {
    background-image: url(images/kasiyer_menu.png) !important;
}
.kasiyer_ekle_icon {
    background-image: url(images/kasiyer_ekle.png) !important;
}
.kasiyer_liste_icon {
    background-image: url(images/kasiyer_list.png) !important;
}
.kaydet_btn_icon{
    background-image: url(images/kaydet.png);
    background-repeat: no-repeat;
    
}
.temizle_btn_icon{
    background-image: url(images/temizle_icon.png) !important;
    background-repeat: no-repeat;
}
.ara_icon {
    background-image: url(images/ara.png) !important;
    background-repeat: no-repeat;
}
.masa_ac_icon{
    background-image: url(images/pc_ac2.png) !important;
    background-repeat: no-repeat;
}
.masa_kapat_icon{
    background-image: url(images/pc_kapat.png) !important;
    background-repeat: no-repeat;
}
.masa_bekleme_icon{
    background-image: url(images/pc_bekleme.png) !important; 
    background-repeat: no-repeat;
}
.masa_aktar_icon{ 
    background-image: url(images/masa_aktar.png) !important; 
    background-repeat: no-repeat;
}
.sure_ekle_icon{ 
    background-image: url(images/sure_ekle.png) !important; 
    background-repeat: no-repeat;
}